:root {
    --primary-color:#74B898; /*tom mais escuro*/
    --secondary-color: #85D4AF; /*tom mais claro*/
    --third-color: #456E5B; /*tom mais escuro ainda*/
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', system-ui;
    background-color: #F4F2F3;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

header {
    color: white;
    background-color: var(--primary-color); 
    text-align: center;
    height: 3rem;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    padding: 15px 10px;
    position: sticky;
    top: 0;
}






.logo { 
    width: auto;
    height: 50%;
}


.splash-screen {
    background: #C4C4C4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: all .5s ease-in-out;
    transform: scale(1);

}

.splash-screen-out {
    opacity: 0;
    transform: scale(4);
}

.splash-screen-none {
    display: none;
}

/* Menu Appbar*/

nav.appbar {
    background: #74B898;
    position: fixed;
    bottom: 0; /* joga os items pra baixo*/
    left: 0; 
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav.appbar a {
    color: #456E5B;
}


nav.appbar a.ativo {
    color: white;
}

/*telas*/
.secao-tela {
    display: none;
    
}

.secao-tela.ativo {
    display: block;
}



/*Gráfico*/

#titulo-grafico {
    color: white;
    background-color: #74B898; 
    text-align: center;
    height: 3rem;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 5px;
}



.organ{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    background-color: #74b89836;
    border-radius: 30px;
    
 
    
    
}

.organ h3 {
    font-size: 22px;
    
}

.organ span {
    margin-right: 10000px;
    font-size: 22px;
    margin-left: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.tarde { 
	background-color:rgba(116.00000068545341, 184.00000423192978, 152.0000061392784, 1);
	width:30px;
	height:30px;
    margin-left: 50px;
	
}

.noite { 
	background-color:rgba(69.00000348687172, 110.00000104308128, 91.00000217556953, 1);
	width:30px;
	height:30px;
    margin-left: 50px;
   
	
}

.manha { 
	background-color:rgba(133.00000727176666, 212.00000256299973, 175.00000476837158, 1);
	width:30px;
	height:30px;
    margin-left: 50px;
	

}






#grafico-pizza {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;

    
}

#pizza {
    width: auto;
    height: 45vh;
}

    





/* Status */

.subheader {
    background-color: var(--primary-color);
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;

}


.grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #74b89836;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid .item {
    display: flex;
    flex-direction: column;
    padding: 10px;
  
}



.grid .item p {
    margin-top: 5px;
    margin-bottom: 25px;
    color: black;
    font-size: 22px;

    
}

/* resultado */
.grid .item #resultado {
    text-align: center;
    color: black;
    font-size: 25px;
}
/*resultado */

.grid .item img {
    width: 50px;
    align-self: center;
}

.calcular-media {
    background-color: var(--primary-color);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 1px 3px  #817e7e;
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 22px;
}


/*alertas*/



.not {
    background-color: #74b89836;
    width: auto;
    height: 102px;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    color: black;
    border: 1px var(--third-color) solid;
    padding: 20px;
    border-radius: 15px;
   
}



    
.subheader-2 {
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 1px 3px  #817e7e;
    border: 1px var(--primary-color) solid;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;

}

.subheader-2 a{
    text-decoration: none;
    color:#F4F2F3;
}

.remover {
    display:none;
}

