* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
    background-color: #F4F2F3;
}

.logo { 
    width: auto;
    height: 50%;
}


.splash-screen {
    background: #C4C4C4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: all .5s ease-in-out;
    transform: scale(1);

}

.splash-screen-out {
    opacity: 0;
    transform: scale(4);
}

.splash-screen-none {
    display: none;
}

/* Menu Appbar*/

nav.appbar {
    background: #74B898;
    position: fixed;
    bottom: 0; /* joga os items pra baixo*/
    left: 0; 
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav.appbar a {
    color: black;
}


nav.appbar a.ativo {
    color: white;
}

/*telas*/
.secao-tela {
    display: none;
}

.secao-tela.ativo {
    display: block;
}

#titulo-grafico {
    color: white;
    background-color: #74B898; 
    text-align: center;
    height: 3rem;
    justify-content: center;
}

#grafico-pizza {
    display: block;
    margin-left: 5rem;
    margin-right: auto;
}

#grafico-string {
    margin-left: 25px;
    margin-right: 25px;
    border: 5px solid #C4C4C4;
    background-color: #C4C4C4;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}

