:root {
	font-size: 16px;
	font-family: 'Lato';	
	--text-primary: #456E5B;
	--text-secondary:#74B898;
	--bg-primary: #74B898;
	--bg-secondary: #456E5B;
}


.grafico {
	height: auto;
	width: 650px;
	align-content: center;
	justify-content: center;
	margin-left: 10rem;
}

div {
	margin-top: 0;
}


body {
	color: black;
	background: #F4F2F3;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}


body::-webkit-scrollbar-track {
	background: #74B898;
}

body::-webkit-scrollbar-thumb {
	background: #456E5B;
}


main {
	margin-left: rem;
	padding: rem;

}


header {
	display: grid;
	text-align: center;
	justify-content: center;
	background-color: #74B898;
	color:#F4F2F3;
	margin-top: 0;
	margin: 0;
	padding: 0;
	font-size: 36px;
	

}






.navbar {

	position: fixed;
	background-color: var(--bg-primary);
	transition: width 250ms ease;
}


.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;

}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	
	transition: var(--transition-speed);
}

.nav-link:hover {
	filter:grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);

}

.link-text {
	display: none;	
	margin-left: 1rem;
}

.nav-link svg {
	min-width: 2rem;
	margin: 0 1.5rem;
	
}





/* Telas pequenas */
@media only screen and (max-width: 1000px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	.navbar-nav {
		flex-direction: row;
	}

	.nav-link {
		justify-content: center;
	}

	main {
		margin: 0;
	}
}

/* Telas grandes */
@media only screen and (min-width: 1000px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	
	.navbar:hover {
		width: 16rem;
	}

	.navbar:hover .link-text {
		display: inline;
		transition: opacity var(--transition-speed);
	}
}
