body, ul, li, * {
	margin: 0;
	padding: 0;
	list-style-type: none;

}



body {
	font-family: system-ui, sans-serif;
}

#topo {
	align-items: center;
	background: #ddbdff;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

#topo div#logo {
	text-align: center;
	width: 90%;
}

#topo div#logo h1{
	color: #1c375b;
}

#container {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 5fr 1fr;
}

#principal{
	background: #fc13fc;
	display: flex;
	flex-direction: row; /*direção e ordem dos blocos*/
	flex-wrap: wrap; /*aplica-se quando se "acaba o espaço"*/
	justify-content: center;
	align-items: center;
	align-content: center;
}

#rodape{
	background: #cca3fc;
	}

.bloco{
	background: #FFFF;
	height: 130px;
	width: 130px;
	margin: 5px;

}

#rodape nav{
	display: flex;
	flex-direction: row;
	align-items: space-between;
	justify-content: space-around;
}
.btn{
	background: #FFF;
	padding:4px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

@media (min-width: 1200px) {
	body{
		background: red;
		font-family:serif;

	}
	
	#container{
		width: 80%;
		margin: 0 auto;
	}
	
	.bloco{
		`border-radius: 20px;
		background: #CCC;
	}

	#principal{
		background: cyan;

	}

}
@media (min-width: 1600px) {
	#principal{
		background: tomato;
	}
}